BasedOnStyle: LLVM
Language: Cpp
Standard: c++17

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
ContinuationIndentWidth: 4
AccessModifierOffset: -4
NamespaceIndentation: None

BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
IndentCaseLabels: false
SpaceAfterTemplateKeyword: false

PointerAlignment: Left
ReferenceAlignment: Pointer
DerivePointerAlignment: false

SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false
SpaceBeforeCpp11BracedList: false
SpacesInAngles: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

BinPackParameters: true
BinPackArguments: true
AlignAfterOpenBracket: Align
AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializers: BeforeColon
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 4

SortIncludes: Never
IncludeBlocks: Preserve

FixNamespaceComments: false
ReflowComments: false
